KERNEL_ARCH_CFLAGS=-Og -fno-inline
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/earlyinit.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/pd.o \
$(ARCHDIR)/pmm.o \
$(ARCHDIR)/vmm.o \
$(ARCHDIR)/heap.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o